<!DOCTYPE html>
{% extends 'webBase.html' %}
{% block content %}

<div class="container">
    <div class="row align-items-start">
      <div class="col-sm">
        <br><br>

        <h1>{{ object.Title }}</h1><br>
        <img src="{{ object.Artwork.url }}" width="100%"><br>
      </div>
      <div class="col-sm">
        <br><br>
        <div>
        <small>
          Create date:{{ object.created_date }}<br><br>
          By: {{ object.artist_Name }}<br><br>
        </small><br>
        <p>
          {{ object.Description }}
        </p>
        <br>
        {% for tag in object.Tags.names %}
          <a href="{% url 'tag' tag %}" class="badge badge-custom2 rounded-pill">{{ tag }}</a>
        {% endfor %}
        <br><br>
        <form action="#" method="POST">
          {% csrf_token %}
          <button type="submit", name="artwork_id",value="{{ artwork.id }}"><img src="../media/logo/Like.png" style="border-radius: 50%;"></button>
          {{ total_likes }} 
        </form>
      </div><br>
        <div>
          <h3>Comments</h3>
        <br>
        
        <form method="POST">
          {% csrf_token %}
              {{ form.artwork_comment }}
            <button class="btn btn-custom rounded-pill">Post</button>
        </form>
        </div>
        <br>
        <div>
          <hr class="solid">
          {% if not post.comments.all %}
            No comments yet.
          {% else %}
      <br>
      
          {% for comment in post.comments.all %}
          <hr class="solid">
              <strong>
                  {{ comment.artist_Name }} - {{ comment.date_added}}
              </strong>
              <br>
              {{ comment.comment }}

              <br>
              <br>
          {% endfor %}
      {% endif %}
      <br>
        </div>
        <script>
          var name = "{{user.id}}";
          document.getElementById("user").value = name;
      </script>
      </div>
    </div>
  </div>
     




{% endblock %}