<!DOCTYPE html>
{% extends 'webBase.html' %}
{% block content %}

<div class="container">
    <div class="row align-items-start">
      <div class="col-sm">
        <br><br>
        <h1>{{ artwork.Title }}</h1>
        Title<br>
        <img src="{{ artwork.Artwork.url }}"  width="30%">
        Image<br>
      </div>
      <div class="col-sm">
        <br><br>
        <h3>Description</h3>
        <small>{{ artwork.artist_Name }}<br>Description{{ artwork.Description }}
        </small>
        Tags
        {% for tag in object_list %}
          <a class="btn btn-primary rounded-pill" href="#" role="button">{{ artwork.Tags }}</a>
          {% endfor %}
        <br>
        <h3>Comments</h3>
        <br>
        <form method="POST">
          {% csrf_token %}
              {{ form.as_p }}
            <button class="btn btn-primary rounded-pill">Post</button>
        </form>
          
        <br>
        <div>
          {% if not post.comments.all %}
          No comments yet.
      {% else %}
      <br>
          {% for comment in post.comments.all %}
              <strong>
                  {{ comment.artist_Name }} - {{ comment.date_added}}
              </strong>
              <br>
              {{ comment.comment }}
              <br>
              <br>
          {% endfor %}
      {% endif %}
      <br>
        </div>
      </div>
    </div>
  </div>
     




{% endblock %}