<!DOCTYPE html>
{% extends 'webBase.html' %}
{% block content %}

<br>
<h1>Add a new artwork</h1>
<div class="form-group" style="padding: 50px;margin: 20px;">
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="mx-auto">
      <button type="submit" class="btn btn-primary mx-auto">Publish the artwork post</button>
    </div>
</form>  
</div>

<script>
    var name = "{{user.id}}";
    document.getElementById("user").value = name;
</script>
{% endblock %}