<!DOCTYPE html>
{% extends 'webBase.html' %}
{% block content %}

<div>
{% if artwork.count > 0 %}
<br>
<div style="display: flex;
width: 1199px;
padding: 15px 891px 13px 28px;
align-items: center;border-radius: 20px;
border: 1px solid #FFF;
background: rgba(255, 255, 255, 0.36);">

</div>  
<h2 style="text-align: center;">Search results</h2>
<br>  
<ul>
    {% for arts in artwork %}

        <a href="{%  url 'artwork_detail' arts.pk %}">
            <img src="{{ arts.Artwork.url }}" width="40%" style="width: 350px; height: 350px; object-fit: cover;padding-bottom: 1em;padding-right: 1em;">
            <h5>{{ arts.Title }}</h5>
        </a> 


    {% endfor %}
</ul>
{% else %}
<div style="text-align: center;padding-top: 400px;">
    <h1>
        No results
    </h1>
</div>

{% endif %}
</div>
{% endblock %}