<!DOCTYPE html>
{% extends 'webBase.html' %}
{% block content %}
<div style="padding-right: 10px;margin: 20px;">
  <br>
  <form class="navbar-form d-flex rounded-pill" action="{% url 'search_result' %}">
    {% csrf_token %}
    
    <div class="input-group rounded-pill" style="background-color: rgba(0, 0, 0, 0.36);border: 1px solid #FFF;color: #FFF;">
      
      <input class="form-control rounded-pill" type="search" placeholder="Search" aria-label="Search" name="keyword" style="background-color: transparent;border: none;">
      <div class="input-group-append">
        <button type="submit" class="btn btn-outline-secondary rounded-pill" style="margin-left: -40px;"><i class="fa fa-search"></i></button>
      </div>
    </div>
    
  </form>
  <h2>Tags list</h2>
</div>  
{% endblock %}
