<!DOCTYPE html>
{% extends 'webBase.html' %}
{% block content %}
    <br>
    <br>
    <div id="desktopcontent">
        <form method="POST" action="{% url 'update_album_action' object.pk %}" onsubmit="submem()" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" value="{{ user.id }}" name="artist_Name">
            <!--<input type="hidden" name="memberpic"> -->
            <input type="hidden" name="memberpiclist" id="memberpic">
            <center>
                <table>
                    <tr>
                        <td>Title:<br><br></td>
                        <td>{{ form.Album_Title }}<br><br></td>
                    </tr>
                    <tr>
                        <td>Setting as private album?</td>
                        <td>
                            <div class="form-check form-switch form-switch-md">
                                {{ form.Private_Album }}
                            </div><br><br>
                        </td>
                    </tr>
                    <tr>
                        <td>Select Artwork to delete in album<br><br></td>
                    </tr>
                </table>
                
                <div class="scrollmenu">
                                {% for artdetail in artwork %}
                                    {% if user.id == artdetail.artist_Name.id %}
                                        <img src="{{ artdetail.Artwork.url }}" class="PicList" id='{{ artdetail.pk }}' onClick="PicClick()" style="width: 200px; height: 200px; object-fit: cover; padding-bottom: 1em;">
                                    {% endif %}
                                {% endfor %}

                                <!-- Display other user's artwork already saved to the album -->
                                {% for other_artwork in other_user_artwork %}
                                    {% if other_artwork in album.memberpic.all %}
                                        <img src="{{ other_artwork.Artwork.url }}" class="PicList" id='{{ other_artwork.pk }}' onClick="PicClick()" style="width: 200px; height: 200px; object-fit: cover; padding-bottom: 1em;">
                                    {% endif %}
                                {% endfor %}
                            </div><br>
            </center>
            <div style="text-align: center;">
                <button type="submit" class="btn btn-custom">Update album/collection</button>
            </div>
        </form>
    </div>

    <div id="mobcontent">
        <form method="POST" action="{% url 'update_album_action' object.pk %}" onsubmit="submem()" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" value="{{ user.id }}" name="artist_Name">
            <!--<input type="hidden" name="memberpic"> -->
            <input type="hidden" name="memberpiclist" id="memberpicmob">
            Title: {{ form.Album_Title }}<br><br>
            <table>
                <tr>
                    <td>Setting as private album?</td>
                    <td>
                        <div class="form-check form-switch form-switch-md">
                            {{ form.Private_Album }}
                        </div>
                    </td>
                </tr>
            </table><br>

            Select Artwork to delete in album<br><br>

            <div class="scrollmenu" style="padding-right: 1em;width: auto;">
                {% for artdetail in artwork %}
                    {% if user.id == artdetail.artist_Name.id %}
                        <img src="{{ artdetail.Artwork.url }}" class="PicList" id='{{ artdetail.pk }}' onClick="PicClick()" style="width: 200px; height: 200px; object-fit: cover; padding-bottom: 1em;">
                    {% endif %}
                {% endfor %}

                <!-- Display other user's artwork already saved to the album -->
                {% for other_artwork in other_user_artwork %}
                    {% if other_artwork in album.memberpic.all %}
                        <img src="{{ other_artwork.Artwork.url }}" class="PicList" id='{{ other_artwork.pk }}' onClick="PicClick()" style="width: 200px; height: 200px; object-fit: cover; padding-bottom: 1em;">
                    {% endif %}
                {% endfor %}
            </div>
            <br>
            <div style="text-align: center;">
                <button type="submit" class="btn btn-custom">Update album/collection</button>
            </div>
        </form>
    </div>
    <script>
        var name = "{{user.id}}";
        document.getElementById("user").value = name;
    </script>
    <script>
       
        var selectedpic = {{ piclist }};
         document.getElementById("memberpic").value=selectedpic;
         document.getElementById("memberpicmob").value=selectedpic;
 
         for (let i=0; i<selectedpic.length;i++){
             console.log(selectedpic[i]);
             let si = selectedpic[i]
             document.getElementById(si).classList.add('selected');
         }
         
         const checksel = document.getElementsByClassName('PicList');
         function submem(){
             document.getElementById("memberpic").value=selectedpic;
             document.getElementById("memberpicmob").value=selectedpic;
         }
         function PicClick(){
 
             if (selectedpic.includes(parseInt(event.srcElement.id))){
                 selectedpic = selectedpic.filter(function(e) {return e!==parseInt(event.srcElement.id)});
                 event.srcElement.classList.remove('selected');
                 
             }
             else{
                 selectedpic.push(parseInt(event.srcElement.id));
                 event.srcElement.classList.add('selected');
             }
             console.log(selectedpic);    
         };
         const mouseWheel = document.querySelector('.scrollmenu');
 
         mouseWheel.addEventListener('wheel', function(e) {
             const race = 50; // How many pixels to scroll
 
             if (e.deltaY > 0) // Scroll right
                 mouseWheel.scrollLeft += race;
             else // Scroll left
                 mouseWheel.scrollLeft -= race;
                 e.preventDefault();
         });
     
     </script>
{% endblock %}
