<!DOCTYPE html>
{% extends 'webBase.html' %}
{% block content %}

<br><br>
<div class="form-group" style="padding: 50px;margin: 20px;">
  <form method="POST" action="{% url 'artwork_edit_action' object.pk %}" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.artist_Name }}
    Title: {{ form.Title }}<br><br>
    Description:{{ form.Description }}<br><br>
    Flag as sensitive content?{{ form.Sensitive_content }}<br><br>
    Tags
    (Separate with comma):{{ form.Tags }}<br><br>
    <div style="text-align: center;">
      <input type="submit" class="btn btn-custom mx-auto" value="Update the post">
    </div>
</form>  
</div>

<script>
    var name = "{{user.id}}";
    document.getElementById("user").value = name;
</script>
{% endblock %}