<!DOCTYPE html>
{% extends 'webBase.html' %}
{% block content %}

<br><br>
<center>
<div class="form-group" style="padding: 50px;margin: 20px;" id="desktopcontent">
  <form method="POST" action="{% url 'artwork_edit_action' object.pk %}" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.artist_Name }}
    <table>
      <tr>
        <td>Title:<br><br></td><td>{{ form.Title }}<br><br></td>
      </tr>
      <tr>
        <td>Description:<br><br></td><td>{{ form.Description }}<br><br></td>
      </tr>
      <tr>
        <td>Flag as sensitive content?<br><br></td>
        <td>
          <div class="form-check form-switch">
            {{ form.Sensitive_content }}<br><br>
          </div>
        </td>
      </tr>
      <tr>
        <td>Tags
          (Separate with comma):<br><br></td>
        <td>
          {{ form.Tags }}<br><br>
        </td>
      </tr>
    </table>
    <div style="text-align: center;">
      <input type="submit" class="btn btn-custom mx-auto" value="Update the post">
    </div>
</form>  
</div>
</center>

<div class="form-group" style="padding: 50px;margin: 20px;" id="mobcontent">
  <form method="POST" action="{% url 'artwork_edit_action' object.pk %}" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.artist_Name }}
    Title: {{ form.Title }}<br><br>
    Description:{{ form.Description }}<br>
    <table>
      <tr>
        <td>Flag as sensitive content?</td>
        <td>
          <div class="form-check form-switch">
            {{ form.Sensitive_content }}
          </div>
        </td>
      </tr>
      
      
    </table><br>

    Tags
    (Separate with comma):{{ form.Tags }}<br><br>
    <div style="text-align: center;">
      <input type="submit" class="btn btn-custom mx-auto" value="Update the post">
    </div>
</form>  
</div>

<script>
    var name = "{{user.id}}";
    document.getElementById("user").value = name;
</script>
{% endblock %}