<!DOCTYPE html>
{% extends 'webBase.html' %}
{% block content %}
    <br>
    <br>
    <div id="desktopcontent" style="margin-bottom: 200px;">
        <form method="POST" action="{% url 'update_album_action' object.pk %}" onsubmit="submem()" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" value="{{ user.id }}" name="artist_Name">
            <!--<input type="hidden" name="memberpic"> -->
            <input type="hidden" name="memberpiclist" id="memberpic">
            <center>
                <table>
                    <tr>
                        <td>Title:<br><br></td>
                        <td>{{ form.Album_Title }}<br><br></td>
                    </tr>
                    <tr>
                        <td>Setting as private album?<br><br><br></td>
                        <td>
                            <div class="form-check form-switch form-switch-md">
                                {{ form.Private_Album }}
                            </div><br><br>
                        </td>
                    </tr>
                    <tr>
                        <td>Deselect Artwork to delete in album<br><br></td>
                    </tr>
                </table>
                
                <div class="scrollmenu">
                                {% for artdetail in artwork %}
                                    {% if user.id == artdetail.artist_Name.id %}
                                        <img src="{{ artdetail.Artwork.url }}" class="PicList" id='{{ artdetail.pk }}' onClick="PicClick()" style="width: 200px; height: 200px; object-fit: cover; padding-bottom: 1em;">
                                    {% endif %}
                                {% endfor %}

                                <!-- Display other user's artwork already saved to the album -->
                                {% for other_artwork in other_user_artwork %}
                                    {% if other_artwork in album.memberpic.all %}
                                        <img src="{{ other_artwork.Artwork.url }}" class="PicList" id='{{ other_artwork.pk }}' onClick="PicClick()" style="width: 200px; height: 200px; object-fit: cover; padding-bottom: 1em;">
                                    {% endif %}
                                {% endfor %}
                            </div><br>
            </center>
            <div style="text-align: center;">
                <a class="btn btn-secondary" href="{% url 'dashboard'%}">Cancel</a>&nbsp;
                <button type="submit" class="btn btn-custom">Update album</button>
            </div>
        </form>
    </div>

    <div id="mobcontent">
  <br><br>

        <form method="POST" action="{% url 'update_album_action' object.pk %}" onsubmit="submem()" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" value="{{ user.id }}" name="artist_Name">
            <!--<input type="hidden" name="memberpic"> -->
            <input type="hidden" name="memberpiclist" id="memberpicmob">
            Title: {{ form.Album_Title }}<br><br>
            <table>
                <tr>
                    <td>Setting as private album?</td>
                    <td>
                        <div class="form-check form-switch form-switch-md">
                            {{ form.Private_Album }}
                        </div>
                    </td>
                </tr>
            </table><br>

            Deselect Artwork to delete in album<br><br>

            <div class="scrollmenu" style="padding-right: 1em;width: auto;">
                {% for artdetail in artwork %}
                    {% if user.id == artdetail.artist_Name.id %}
                        <img src="{{ artdetail.Artwork.url }}" class="PicList" id='{{ artdetail.pk }}' onClick="PicClick()" style="width: 200px; height: 200px; object-fit: cover; padding-bottom: 1em;">
                    {% endif %}
                {% endfor %}

                <!-- Display other user's artwork already saved to the album -->
                {% for other_artwork in other_user_artwork %}
                    {% if other_artwork in album.memberpic.all %}
                        <img src="{{ other_artwork.Artwork.url }}" class="PicList" id='{{ other_artwork.pk }}' onClick="PicClick()" style="width: 200px; height: 200px; object-fit: cover; padding-bottom: 1em;">
                    {% endif %}
                {% endfor %}
            </div>
            <br>
            <div style="text-align: center;">
                <a class="btn btn-secondary" href="{% url 'dashboard'%}">Cancel</a>&nbsp;
                <button type="submit" class="btn btn-custom">Update album</button>
            </div>
        </form>
    </div>
    <script>
        var name = "{{user.id}}";
        document.getElementById("user").value = name;
    </script>
    <script>
       
        var selectedpic = {{ piclist }};
         document.getElementById("memberpic").value=selectedpic;
         document.getElementById("memberpicmob").value=selectedpic;
 
         for (let i=0; i<selectedpic.length;i++){
             console.log(selectedpic[i]);
             let si = selectedpic[i]
             document.getElementById(si).classList.add('selected');
         }
         
         const checksel = document.getElementsByClassName('PicList');
         function submem() {
            // Ensure selectedpic array is not empty before setting the memberpic input value
            if (selectedpic.length > 0) {
                document.getElementById("memberpic").value = selectedpic;
                document.getElementById("memberpicmob").value = selectedpic;
            }
        }
         
         // Function to add or remove 'selected' class and update selectedpic array
        function toggleSelection(imageElement) {
            const imageId = parseInt(imageElement.id);
            const index = selectedpic.indexOf(imageId);

            if (index !== -1) {
                selectedpic.splice(index, 1);
            } else {
                selectedpic.push(imageId);
            }

            imageElement.classList.toggle('selected');
        }

        function PicClick() {
            const clickedImage = event.srcElement;
            toggleSelection(clickedImage);

            console.log(selectedpic);
        }

        // Function to handle the responsive border effect for selected images
        function updateSelectedImagesBorder() {
            const images = document.getElementsByClassName('PicList');

            for (let i = 0; i < images.length; i++) {
                const imageElement = images[i];
                const imageId = parseInt(imageElement.id);
                const isSelected = selectedpic.includes(imageId);

                // Add or remove border based on selection
                if (isSelected) {
                    imageElement.classList.add('selected');
                } else {
                    imageElement.classList.remove('selected');
                }
            }
        }

        // Attach an event listener to the window resize event
        window.addEventListener('resize', updateSelectedImagesBorder);

         const mouseWheel = document.querySelector('.scrollmenu');
 
         mouseWheel.addEventListener('wheel', function(e) {
             const race = 50; // How many pixels to scroll
 
             if (e.deltaY > 0) // Scroll right
                 mouseWheel.scrollLeft += race;
             else // Scroll left
                 mouseWheel.scrollLeft -= race;
                 e.preventDefault();
         });
     
     </script>
{% endblock %}
