<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./artwork-view-mobile1.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Chakra Petch:ital,wght@0,400;1,400;1,500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="artwork-view-mobile1">
      <nav class="frame-parent19">
        <div class="explore-parent13">
          <i class="explore16">Explore</i>
          <img class="image-4-icon15" alt="" src="./public/image-4@2x.png" />
        </div>
        <div class="dashboard-parent13" id="frameContainer2">
          <i class="dashboard16">Dashboard</i>
          <img class="image-5-icon15" alt="" src="./public/image-5@2x.png" />
        </div>
        <div class="upload-parent13" id="frameContainer3">
          <i class="upload15">Upload</i>
          <img class="image-6-icon15" alt="" src="./public/image-6@2x.png" />
        </div>
        <div class="profile-parent13" id="frameContainer4">
          <i class="profile16">Profile</i>
          <img class="image-7-icon15" alt="" src="./public/image-7@2x.png" />
        </div>
      </nav>
      <div class="artwork-view-mobile-child">
        <div class="frame-parent20">
          <div class="d0089-1-container">
            <img class="d0089-1-icon1" alt="" src="./public/d0089-1@2x.png" />
          </div>
          <div class="artwork-title5">Artwork title</div>
        </div>
      </div>
      <div class="lorem-ipsum-dolor-sit-amet-co-parent">
        <i class="lorem-ipsum-dolor-container">
          <p class="lorem-ipsum-dolor">Lorem ipsum dolor sit amet,</p>
          <p class="lorem-ipsum-dolor">consectetur adipiscing elit,</p>
          <p class="lorem-ipsum-dolor">sed do eiusmod tempor incididunt</p>
          <p class="lorem-ipsum-dolor">ut labore et dolore magna aliqua.</p>
          <p class="lorem-ipsum-dolor">
            Nullam non nisi est sit. Nibh nisl condimentum
          </p>
          <p class="lorem-ipsum-dolor">
            id venenatis a condimentum vitae sapien.
          </p>
          <p class="lorem-ipsum-dolor">Diam quam nulla porttitor massa.</p>
        </i>
        <a
          class="tag-1-wrapper"
          href="./artwork-category-view.html"
          id="frameLink"
        >
          <i class="tag-1">Tag 1</i>
        </a>
        <a
          class="tag-1-container"
          href="./artwork-category-view.html"
          id="frameLink1"
        >
          <i class="tag-1">Tag 1</i>
        </a>
        <a
          class="tag-1-frame"
          href="./artwork-category-view.html"
          id="frameLink2"
        >
          <i class="tag-1">Tag 1</i>
        </a>
        <a class="frame-a" href="./artwork-category-view.html" id="frameLink3">
          <i class="tag-1">Tag 1</i>
        </a>
        <select class="frame-child73" required id="frameSelect"></select>
        <i class="i3">500</i>
        <div class="frame-parent21">
          <div class="description-container">
            <i class="description3">Description</i>
          </div>
          <div class="comments-container" id="frameContainer10">
            <i class="description3">Comments</i>
          </div>
        </div>
      </div>
      <nav class="untitled209-20230605132102-1-parent13">
        <a
          class="untitled209-20230605132102-115"
          href="./explore.html"
          id="untitled209202306051321021"
        >
        </a>
        <div class="rectangle-parent19" id="frameContainer13">
          <div class="frame-child74"></div>
          <div class="frame-child75"></div>
          <img class="frame-child76" alt="" src="./public/rectangle-7.svg" />
        </div>
        <a class="image-215" href="./search-result.html" id="image2"> </a>
      </nav>
    </div>

    <div id="menuMobile" class="popup-overlay" style="display: none">
      <div class="menu-mobile">
        <div class="profile-wrapper" id="popupframeContainer">
          <i class="profile">Profile</i>
        </div>
        <div class="dashboard-wrapper" id="popupframeContainer1">
          <i class="profile">Dashboard</i>
        </div>
        <div class="explore-wrapper" id="popupframeContainer2">
          <i class="profile">Explore</i>
        </div>
        <div class="log-out-wrapper" id="popupframeContainer3">
          <i class="profile">Log out</i>
        </div>
      </div>
    </div>

    <script>
      var popupframeContainer = document.getElementById("popupframeContainer");
      if (popupframeContainer) {
        popupframeContainer.addEventListener("click", function (e) {
          window.location.href = "./user-profile-mobile.html";
        });
      }
      
      var popupframeContainer1 = document.getElementById("popupframeContainer1");
      if (popupframeContainer1) {
        popupframeContainer1.addEventListener("click", function (e) {
          window.location.href = "./dashboard-album-mobile.html";
        });
      }
      
      var popupframeContainer2 = document.getElementById("popupframeContainer2");
      if (popupframeContainer2) {
        popupframeContainer2.addEventListener("click", function (e) {
          window.location.href = "./explore-album-mobile.html";
        });
      }
      
      var popupframeContainer3 = document.getElementById("popupframeContainer3");
      if (popupframeContainer3) {
        popupframeContainer3.addEventListener("click", function (e) {
          window.location.href = "./first-page-mobile.html";
        });
      }
      
      var frameContainer2 = document.getElementById("frameContainer2");
      if (frameContainer2) {
        frameContainer2.addEventListener("click", function (e) {
          window.location.href = "./dashboard-album-mobile.html";
        });
      }
      
      var frameContainer3 = document.getElementById("frameContainer3");
      if (frameContainer3) {
        frameContainer3.addEventListener("click", function (e) {
          window.location.href = "./upload-mobile.html";
        });
      }
      
      var frameContainer4 = document.getElementById("frameContainer4");
      if (frameContainer4) {
        frameContainer4.addEventListener("click", function (e) {
          window.location.href = "./user-profile-mobile.html";
        });
      }
      
      var frameLink = document.getElementById("frameLink");
      if (frameLink) {
        frameLink.addEventListener("click", function (e) {
          window.location.href = "./art-category-view-mobile.html";
        });
      }
      
      var frameLink1 = document.getElementById("frameLink1");
      if (frameLink1) {
        frameLink1.addEventListener("click", function (e) {
          window.location.href = "./art-category-view-mobile.html";
        });
      }
      
      var frameLink2 = document.getElementById("frameLink2");
      if (frameLink2) {
        frameLink2.addEventListener("click", function (e) {
          window.location.href = "./art-category-view-mobile.html";
        });
      }
      
      var frameLink3 = document.getElementById("frameLink3");
      if (frameLink3) {
        frameLink3.addEventListener("click", function (e) {
          window.location.href = "./art-category-view-mobile.html";
        });
      }
      
      var frameSelect = document.getElementById("frameSelect");
      if (frameSelect) {
        frameSelect.addEventListener("click", function (e) {
          window.location.href = "./user-profile-mobile.html";
        });
      }
      
      var frameContainer10 = document.getElementById("frameContainer10");
      if (frameContainer10) {
        frameContainer10.addEventListener("click", function (e) {
          window.location.href = "./artwork-view-mobile.html";
        });
      }
      
      var untitled209202306051321021 = document.getElementById(
        "untitled209202306051321021"
      );
      if (untitled209202306051321021) {
        untitled209202306051321021.addEventListener("click", function (e) {
          window.location.href = "./explore.html";
        });
      }
      
      var frameContainer13 = document.getElementById("frameContainer13");
      if (frameContainer13) {
        frameContainer13.addEventListener("click", function () {
          var popup = document.getElementById("menuMobile");
          if (!popup) return;
          var popupStyle = popup.style;
          if (popupStyle) {
            popupStyle.display = "flex";
            popupStyle.zIndex = 100;
            popupStyle.backgroundColor = "rgba(113, 113, 113, 0.3)";
            popupStyle.alignItems = "center";
            popupStyle.justifyContent = "center";
          }
          popup.setAttribute("closable", "");
      
          var onClick =
            popup.onClick ||
            function (e) {
              if (e.target === popup && popup.hasAttribute("closable")) {
                popupStyle.display = "none";
              }
            };
          popup.addEventListener("click", onClick);
        });
      }
      
      var image2 = document.getElementById("image2");
      if (image2) {
        image2.addEventListener("click", function (e) {
          window.location.href = "./search-page-mobile.html";
        });
      }
      </script>
  </body>
</html>
