<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./create-album-with-images-mobile.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Chakra Petch:ital,wght@0,400;1,400;1,500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="create-album-with-images-mob">
      <nav class="frame-parent8">
        <div class="explore-parent7">
          <i class="explore10">Explore</i>
          <img class="image-4-icon9" alt="" src="./public/image-4@2x.png" />
        </div>
        <div class="dashboard-parent7" id="frameContainer2">
          <i class="dashboard10">Dashboard</i>
          <img class="image-5-icon9" alt="" src="./public/image-5@2x.png" />
        </div>
        <div class="upload-parent7" id="frameContainer3">
          <i class="upload9">Upload</i>
          <img class="image-6-icon9" alt="" src="./public/image-6@2x.png" />
        </div>
        <div class="profile-parent7" id="frameContainer4">
          <i class="profile10">Profile</i>
          <img class="image-7-icon9" alt="" src="./public/image-7@2x.png" />
        </div>
      </nav>
      <form class="title-container" method="post">
        <div class="title2">Title:</div>
        <input class="frame-child45" type="text" />

        <div class="setting-as-private">Setting as private album?</div>
        <div class="select-artwork-to">Select Artwork to add in Album</div>
        <a
          class="create-albumcollection-wrapper"
          href="./explore.html"
          id="frameLink"
        >
          <div class="create-albumcollection">Create album/collection</div>
        </a>
        <div class="rectangle-parent11">
          <div class="frame-child46"></div>
          <div class="frame-child47"></div>
          <div class="frame-child48"></div>
        </div>
        <select class="frame-select" required id="frameSelect"></select>
        <div class="frame-parent9">
          <a class="d0068-1-frame" href="./album-view.html" id="frameLink1">
            <img class="d0068-1-icon2" alt="" src="./public/d0068-11@2x.png" />
          </a>
          <a class="d0067-1-frame" href="./album-view.html" id="frameLink2">
            <img class="d0067-1-icon2" alt="" src="./public/d0067-11@2x.png" />
          </a>
          <a class="d0065-2-frame" href="./album-view.html" id="frameLink3">
            <img class="d0065-2-icon2" alt="" src="./public/d0065-21@2x.png" />
          </a>
        </div>
      </form>
      <nav class="untitled209-20230605132102-1-parent7">
        <a
          class="untitled209-20230605132102-19"
          href="./explore.html"
          id="untitled209202306051321021"
        >
        </a>
        <div class="rectangle-parent12" id="frameContainer8">
          <div class="frame-child49"></div>
          <div class="frame-child50"></div>
          <img class="frame-child51" alt="" src="./public/rectangle-7.svg" />
        </div>
        <a class="image-29" href="./search-result.html" id="image2"> </a>
      </nav>
    </div>

    <div id="menuMobile" class="popup-overlay" style="display: none">
      <div class="menu-mobile">
        <div class="profile-wrapper" id="popupframeContainer">
          <i class="profile">Profile</i>
        </div>
        <div class="dashboard-wrapper" id="popupframeContainer1">
          <i class="profile">Dashboard</i>
        </div>
        <div class="explore-wrapper" id="popupframeContainer2">
          <i class="profile">Explore</i>
        </div>
        <div class="log-out-wrapper" id="popupframeContainer3">
          <i class="profile">Log out</i>
        </div>
      </div>
    </div>

    <script>
      var popupframeContainer = document.getElementById("popupframeContainer");
      if (popupframeContainer) {
        popupframeContainer.addEventListener("click", function (e) {
          window.location.href = "./user-profile-mobile.html";
        });
      }
      
      var popupframeContainer1 = document.getElementById("popupframeContainer1");
      if (popupframeContainer1) {
        popupframeContainer1.addEventListener("click", function (e) {
          window.location.href = "./dashboard-album-mobile.html";
        });
      }
      
      var popupframeContainer2 = document.getElementById("popupframeContainer2");
      if (popupframeContainer2) {
        popupframeContainer2.addEventListener("click", function (e) {
          window.location.href = "./explore-album-mobile.html";
        });
      }
      
      var popupframeContainer3 = document.getElementById("popupframeContainer3");
      if (popupframeContainer3) {
        popupframeContainer3.addEventListener("click", function (e) {
          window.location.href = "./first-page-mobile.html";
        });
      }
      
      var frameContainer2 = document.getElementById("frameContainer2");
      if (frameContainer2) {
        frameContainer2.addEventListener("click", function (e) {
          window.location.href = "./dashboard-album-mobile.html";
        });
      }
      
      var frameContainer3 = document.getElementById("frameContainer3");
      if (frameContainer3) {
        frameContainer3.addEventListener("click", function (e) {
          window.location.href = "./upload-mobile.html";
        });
      }
      
      var frameContainer4 = document.getElementById("frameContainer4");
      if (frameContainer4) {
        frameContainer4.addEventListener("click", function (e) {
          window.location.href = "./user-profile-mobile.html";
        });
      }
      
      var frameLink = document.getElementById("frameLink");
      if (frameLink) {
        frameLink.addEventListener("click", function (e) {
          window.location.href = "./explore-album-mobile.html";
        });
      }
      
      var frameSelect = document.getElementById("frameSelect");
      if (frameSelect) {
        frameSelect.addEventListener("click", function (e) {
          window.location.href = "./user-profile.html";
        });
      }
      
      var frameLink1 = document.getElementById("frameLink1");
      if (frameLink1) {
        frameLink1.addEventListener("click", function (e) {
          window.location.href = "./album-view.html";
        });
      }
      
      var frameLink2 = document.getElementById("frameLink2");
      if (frameLink2) {
        frameLink2.addEventListener("click", function (e) {
          window.location.href = "./album-view.html";
        });
      }
      
      var frameLink3 = document.getElementById("frameLink3");
      if (frameLink3) {
        frameLink3.addEventListener("click", function (e) {
          window.location.href = "./album-view.html";
        });
      }
      
      var untitled209202306051321021 = document.getElementById(
        "untitled209202306051321021"
      );
      if (untitled209202306051321021) {
        untitled209202306051321021.addEventListener("click", function (e) {
          window.location.href = "./explore.html";
        });
      }
      
      var frameContainer8 = document.getElementById("frameContainer8");
      if (frameContainer8) {
        frameContainer8.addEventListener("click", function () {
          var popup = document.getElementById("menuMobile");
          if (!popup) return;
          var popupStyle = popup.style;
          if (popupStyle) {
            popupStyle.display = "flex";
            popupStyle.zIndex = 100;
            popupStyle.backgroundColor = "rgba(113, 113, 113, 0.3)";
            popupStyle.alignItems = "center";
            popupStyle.justifyContent = "center";
          }
          popup.setAttribute("closable", "");
      
          var onClick =
            popup.onClick ||
            function (e) {
              if (e.target === popup && popup.hasAttribute("closable")) {
                popupStyle.display = "none";
              }
            };
          popup.addEventListener("click", onClick);
        });
      }
      
      var image2 = document.getElementById("image2");
      if (image2) {
        image2.addEventListener("click", function (e) {
          window.location.href = "./search-page-mobile.html";
        });
      }
      </script>
  </body>
</html>
