<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./explore-artwork-mobile.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Chakra Petch:ital,wght@0,400;1,400;1,500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="explore-artwork-mobile">
      <div class="group" id="frameContainer">
        <i class="i2">&gt;</i>
        <i class="artworks">Artworks</i>
      </div>
      <a class="d0065-1-parent" href="./artwork-view.html" id="frameLink">
        <img class="d0065-1-icon" alt="" src="./public/d0065-1@2x.png" />

        <div class="artwork-title-frame">
          <i class="artwork-title3">Artwork Title</i>
        </div>
      </a>
      <a class="d0085-1-parent" href="./artwork-view.html" id="frameLink1">
        <img class="d0085-1-icon" alt="" src="./public/d0085-1@2x.png" />

        <div class="artwork-title-frame">
          <i class="artwork-title3">Artwork Title</i>
        </div>
      </a>
      <nav class="frame-parent17">
        <div class="explore-parent11">
          <i class="explore14">Explore</i>
          <img class="image-4-icon13" alt="" src="./public/image-4@2x.png" />
        </div>
        <div class="dashboard-parent11" id="frameContainer5">
          <i class="dashboard14">Dashboard</i>
          <img class="image-5-icon13" alt="" src="./public/image-5@2x.png" />
        </div>
        <div class="upload-parent11" id="frameContainer6">
          <i class="upload13">Upload</i>
          <img class="image-6-icon13" alt="" src="./public/image-6@2x.png" />
        </div>
        <div class="profile-parent11" id="frameContainer7">
          <i class="profile14">Profile</i>
          <img class="image-7-icon13" alt="" src="./public/image-7@2x.png" />
        </div>
      </nav>
      <nav class="untitled209-20230605132102-1-parent11">
        <a
          class="untitled209-20230605132102-113"
          href="./explore.html"
          id="untitled209202306051321021"
        >
        </a>
        <div class="rectangle-parent17" id="frameContainer9">
          <div class="frame-child67"></div>
          <div class="frame-child68"></div>
          <img class="frame-child69" alt="" src="./public/rectangle-7.svg" />
        </div>
        <a class="image-213" href="./search-result.html" id="image2"> </a>
      </nav>
    </div>

    <div id="frameContainer" class="popup-overlay" style="display: none">
      <div class="frame-top">
        <div class="albums-wrapper" id="popupframeContainer">
          <i class="albums">Albums</i>
        </div>
        <div class="artworks-wrapper" id="popupframeContainer1">
          <i class="albums">Artworks</i>
        </div>
      </div>
    </div>

    <div id="menuMobile" class="popup-overlay" style="display: none">
      <div class="menu-mobile">
        <div class="profile-wrapper" id="popupframeContainer">
          <i class="profile">Profile</i>
        </div>
        <div class="dashboard-wrapper" id="popupframeContainer1">
          <i class="profile">Dashboard</i>
        </div>
        <div class="explore-wrapper" id="popupframeContainer2">
          <i class="profile">Explore</i>
        </div>
        <div class="log-out-wrapper" id="popupframeContainer3">
          <i class="profile">Log out</i>
        </div>
      </div>
    </div>

    <script>
      var popupframeContainer = document.getElementById("popupframeContainer");
      if (popupframeContainer) {
        popupframeContainer.addEventListener("click", function (e) {
          window.location.href = "./explore-album-mobile.html";
        });
      }
      
      var popupframeContainer1 = document.getElementById("popupframeContainer1");
      if (popupframeContainer1) {
        popupframeContainer1.addEventListener("click", function (e) {
          window.location.href = "explore-artwork-mobile.html";
        });
      }
      
      var popupframeContainer = document.getElementById("popupframeContainer");
      if (popupframeContainer) {
        popupframeContainer.addEventListener("click", function (e) {
          window.location.href = "./user-profile-mobile.html";
        });
      }
      
      var popupframeContainer1 = document.getElementById("popupframeContainer1");
      if (popupframeContainer1) {
        popupframeContainer1.addEventListener("click", function (e) {
          window.location.href = "./dashboard-album-mobile.html";
        });
      }
      
      var popupframeContainer2 = document.getElementById("popupframeContainer2");
      if (popupframeContainer2) {
        popupframeContainer2.addEventListener("click", function (e) {
          window.location.href = "./explore-album-mobile.html";
        });
      }
      
      var popupframeContainer3 = document.getElementById("popupframeContainer3");
      if (popupframeContainer3) {
        popupframeContainer3.addEventListener("click", function (e) {
          window.location.href = "./first-page-mobile.html";
        });
      }
      
      var frameContainer = document.getElementById("frameContainer");
      if (frameContainer) {
        frameContainer.addEventListener("click", function () {
          var popup = document.getElementById("frameContainer");
          if (!popup) return;
          var popupStyle = popup.style;
          if (popupStyle) {
            popupStyle.display = "flex";
            popupStyle.zIndex = 100;
            popupStyle.backgroundColor = "rgba(113, 113, 113, 0.3)";
            popupStyle.alignItems = "center";
            popupStyle.justifyContent = "center";
          }
          popup.setAttribute("closable", "");
      
          var onClick =
            popup.onClick ||
            function (e) {
              if (e.target === popup && popup.hasAttribute("closable")) {
                popupStyle.display = "none";
              }
            };
          popup.addEventListener("click", onClick);
        });
      }
      
      var frameLink = document.getElementById("frameLink");
      if (frameLink) {
        frameLink.addEventListener("click", function (e) {
          window.location.href = "./artwork-view-mobile1.html";
        });
      }
      
      var frameLink1 = document.getElementById("frameLink1");
      if (frameLink1) {
        frameLink1.addEventListener("click", function (e) {
          window.location.href = "./artwork-view-mobile1.html";
        });
      }
      
      var frameContainer5 = document.getElementById("frameContainer5");
      if (frameContainer5) {
        frameContainer5.addEventListener("click", function (e) {
          window.location.href = "./dashboard-album-mobile.html";
        });
      }
      
      var frameContainer6 = document.getElementById("frameContainer6");
      if (frameContainer6) {
        frameContainer6.addEventListener("click", function (e) {
          window.location.href = "./upload-mobile.html";
        });
      }
      
      var frameContainer7 = document.getElementById("frameContainer7");
      if (frameContainer7) {
        frameContainer7.addEventListener("click", function (e) {
          window.location.href = "./user-profile-mobile.html";
        });
      }
      
      var untitled209202306051321021 = document.getElementById(
        "untitled209202306051321021"
      );
      if (untitled209202306051321021) {
        untitled209202306051321021.addEventListener("click", function (e) {
          window.location.href = "./explore.html";
        });
      }
      
      var frameContainer9 = document.getElementById("frameContainer9");
      if (frameContainer9) {
        frameContainer9.addEventListener("click", function () {
          var popup = document.getElementById("menuMobile");
          if (!popup) return;
          var popupStyle = popup.style;
          if (popupStyle) {
            popupStyle.display = "flex";
            popupStyle.zIndex = 100;
            popupStyle.backgroundColor = "rgba(113, 113, 113, 0.3)";
            popupStyle.alignItems = "center";
            popupStyle.justifyContent = "center";
          }
          popup.setAttribute("closable", "");
      
          var onClick =
            popup.onClick ||
            function (e) {
              if (e.target === popup && popup.hasAttribute("closable")) {
                popupStyle.display = "none";
              }
            };
          popup.addEventListener("click", onClick);
        });
      }
      
      var image2 = document.getElementById("image2");
      if (image2) {
        image2.addEventListener("click", function (e) {
          window.location.href = "./search-page-mobile.html";
        });
      }
      </script>
  </body>
</html>
