<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./frame-91.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Chakra Petch:ital,wght@0,400;1,400;1,500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="frame-root">
      <div class="my-albums-wrapper" id="popupframeContainer1">
        <i class="my-albums">My albums</i>
      </div>
      <div class="my-artworks-wrapper" id="popupframeContainer2">
        <i class="my-artworks">My artworks</i>
      </div>
    </div>

    <script>
      var popupframeContainer1 = document.getElementById("popupframeContainer1");
      if (popupframeContainer1) {
        popupframeContainer1.addEventListener("click", function (e) {
          window.location.href = "./dashboard-album-mobile.html";
        });
      }
      
      var popupframeContainer2 = document.getElementById("popupframeContainer2");
      if (popupframeContainer2) {
        popupframeContainer2.addEventListener("click", function (e) {
          window.location.href = "./dashboard-artwork-mobile.html";
        });
      }
      </script>
  </body>
</html>
