<!DOCTYPE html>
{% extends 'webBase.html' %}
{% block content %}
<style>

  .fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
  }
  .fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  </style>
<br>
<br><br>
<div class="container" style="width:100%" id="desktopcontent">
  <form method="POST" action="{% url 'edit_profile_action' object.pk %}" enctype="multipart/form-data" id="profileform">
        {% csrf_token %}
       
    <table>
    <div class="row align-items-start">
      <div class="col-sm" style="text-align: center;">
        {% if user.profile.profile_picture %}
        <img src="../../media/{{ user.profile.profile_picture }}" width="30%" style="border-radius: 50%;">
        {% else %}
        <img src="../../media/images/static_profile.png" width="30%" style="border-radius: 50%;">
        {% endif %}
        <br><br>
        <div class="fileUpload btn btn-custom">
          <span>Upload Profile Picture</span>
          <input type="file" class="upload" name="newprofilepic" />
        </div>
      </div>
      <div class="col-sm">
        
        {% csrf_token %}
          Username <input type="text" value={{ user.profile.user }} name="username" class="form-control"> <br>
          <input type="hidden" value={{ user.profile.pk }} name="user">
          Email <input type="text" value={{ user.profile.email }} name="email" class="form-control"><br>
          Bio <textarea name="bio" form="profileform" class="form-control">{{ user.profile.bio }}</textarea><br><br>

          <a href="{% url 'changePassword' %}" class="btn btn-custom" role="button">Change user's password</a><br><br>
          
          <strong>Social Media</strong><br><br>
          
        Instagram <input type="text" value={{ user.profile.Instagram }} name="Instagram" class="form-control"><br>
        Twitter <input type="text" value={{ user.profile.Twitter }} name="Twitter" class="form-control"><br>
        Facebook <input type="text" value={{ user.profile.Facebook }} name="Facebook" class="form-control"><br>
      </div>
    </div>
    <div class="form-group" style="text-align:center;">
        
            
            
            <br><br>
            <input type="submit" class="btn btn-custom" value="Update your profile"><br><br>
    </div>

    </form>
</div>


{% endblock %}