<!DOCTYPE html>
{% extends 'webBase.html' %}
{% block content %}
<style>
  .fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
  }
  .fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  </style>
<br>
<br><br>
<div class="container" style="width:100%">
    <form method="POST" >
        {% csrf_token %}
       
    <table>
    <div class="row align-items-start">
      <div class="col-sm" style="text-align: center;">
        {% if user.profile.profile_picture %}
        <img src="../../media/{{ user.profile.profile_picture }}" width="30%" style="border-radius: 50%;">
        {% else %}
        <img src="../../media/images/static_profile.png" width="30%" style="border-radius: 50%;">
        {% endif %}
        <br><br>
        <div class="fileUpload btn btn-custom">
          <span>Upload Profile Picture</span>
          <input type="file" class="upload" />
        </div>
      </div>
      <div class="col-sm">
        {% csrf_token %}
          Username {{ form.username }}<br>
          Email {{ form.email }}<br>
          Bio {{ form.bio }}<br>


          <a href="{% url 'changePassword' %}" class="btn btn-custom" role="button">Change user's password</a><br><br>
          
          <strong>Social Media</strong><br><br>
          
        Instagram {{ form.Instagram }}<br>
        Twitter {{ form.Twitter }}<br>
        Facebook {{ form.Facebook }}<br>
        
      </div>
    </div>
    </table>
    <div class="form-group" style="text-align:center;">
        
            
            
            <br><br>
            <input type="submit" class="btn btn-custom" value="Update your profile"><br><br>
    </div>

    </form>
</div>


{% endblock %}