<!DOCTYPE html>
{% extends 'webBase.html' %}
{% block content %}
<br>
<br><br>
<div class="container" style="width:100%">
    <form method="POST" >
        {% csrf_token %}
        {{ form.as_p }}
          <a href="{% url 'changePassword' %}" class="btn btn-custom" role="button">Change user's password</a><br><br>
    <div class="form-group" style="text-align:center;">
        
            
            
            <br><br>
            <input type="submit" class="btn btn-custom" value="Update your profile"><br><br>
    </div>

    </form>
</div>


{% endblock %}