<!DOCTYPE html>
{% extends 'webBase.html' %}
{% block content %}
<br><br><br>
<nav class="navbar navbar-expand-lg navbar-custom2">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-white" href="{% url 'explore'%}">Explore</a>
        </li>
        <li class="nav-item active-custom">
          <a class="nav-link active-custom text-white" href="#">My Artworks</a>
        </li>
      </ul>
    </div>
  </nav>
<div style="padding: 50px;margin: 20px;" id="desktopcontent">
    <center>
        <form action="{% url 'change_password_action' %}" method="POST">
            {% csrf_token %}
            {{ form.old_password }}
            
                <table style="text-align:center;">
                    <tr>
                        <td style="float:right;padding-right:1em;">New Password:<br><br></td><td style="width:50%">{{ form.new_password1 }}<br><br></td>
                    </tr>
                    <tr>
                        <td>Confirm New Password:<br><br></td><td style="width:50%">{{ form.new_password2 }}</td>
                    </tr>
                </table>
            
            <br><br>
            <button class="btn btn-custom">Change Password</button>
            <br><br>
        </form>
    </center>
</div>

<div id="mobcontent" style="padding-right: 1em;width: auto;">
        <form action="{% url 'change_password_action' %}" method="POST">
            {% csrf_token %}
            {{ form.old_password }}
            New Password:<br>{{ form.new_password1 }}<br><br>
            Confirm New Password:<br>{{ form.new_password2 }}
            
            <br><br>
            <center>
                <button class="btn btn-custom">Change Password</button>
            </center>
            <br><br>
        </form>
</div>

{% endblock %}