<!DOCTYPE html>
{% extends 'webBase.html' %}
{% block content %}
<br><br><br>
<div style="padding: 50px;margin: 20px;">
    <center>
        <form action="{% url 'change_password_action' %}" method="POST">
            {% csrf_token %}
            {{ form.old_password }}
            
                <table style="text-align:center;">
                    <tr>
                        <td>New Password:<br><br></td><td>{{ form.new_password1 }}<br><br></td>
                    </tr>
                    <tr>
                        <td>Confirm New Password:</td><td>{{ form.new_password2 }}</td>
                    </tr>
                </table>
            
            <br><br>
            <button class="btn btn-custom">Change Password</button>
            <br><br>
        </form>
    </center>
</div>

{% endblock %}