<!DOCTYPE html>
{% extends 'webBase.html' %}
{% block content %}
<br><br><br>
<div style="text-align:center;">
    <form method="POST">
        {% csrf_token %}
        <table style="text-align:center;">
            <tr>
                <td>New Password:<br><br></td><td>{{ form.new_password1 }}<br><br></td>
            </tr>
            <tr>
                <td>Confirm New Password:</td><td>{{ form.new_password2 }}</td>
            </tr>
        </table>

        <br><br>
        <button class="btn btn-custom">Change Password</button>
        <br><br>
    </form>
</div>

{% endblock %}