<!DOCTYPE html>
{% extends 'webBase.html' %}
{% block content %}
{% load thumbnail %}
<nav class="navbar navbar-expand-lg navbar-custom2">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active-custom">
        <a class="nav-link active-custom text-white" href="{% url 'explore'%}">Explore</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="{% url 'dashboard'%}">My Artworks</a>
      </li>
    </ul>
  </div>
</nav><br>

<div id="desktopcontent" style="padding-right: 10px;margin: 20px;">
  <br><br>
        {% csrf_token %}
    <div class="row align-items-start">
      <div class="col-sm" style="text-align: center;">
        {% if page_user.profile_picture %}
        <img src="../../media/{{ page_user.profile_picture }}" width="30%" style="border-radius: 50%;width: 180px;height: 180px;flex-shrink: 0;object-fit: cover;background-color: white;">
        {% else %}
        <img src="../../media/images/static_profile.png" width="30%" style="border-radius: 50%;width: 180px;height: 180px;flex-shrink: 0;object-fit: cover;background-color: white;">
        {% endif %}
        <br><br>
      </div>
      <div class="col-sm">
        {% csrf_token %}
        <table>
          <tr style="height: 30px;">
            <td style="float: right;">Username</td><td>:</td><td>&emsp;{{ page_user.user }}</td>
          </tr>
          <tr style="height: 30px;">
            <td style="float: right;">Email</td><td>:</td><td>&emsp;{{ page_user.email }}</td>
          </tr>
          <tr style="height: 30px;">
            <td style="float: right;">Bio</td><td>:</td><td>&emsp;{{ page_user.bio }}</td>
          </tr>
        </table>
        <br>
          
        <strong>Social Links</strong><br><br>
        <table>
          <tr style="height: 30px;">
            <td style="float: right;">Instagram</td><td>:</td><td>&emsp;{{ page_user.Instagram }}</td>
          </tr>
          <tr style="height: 30px;">
            <td style="float: right;">Twitter</td><td>:</td><td>&emsp;{{ page_user.Twitter }}</td>
          </tr>
          <tr style="height: 30px;">
            <td style="float: right;">Facebook</td><td>:</td><td>&emsp;{{ page_user.Facebook }}</td>
          </tr>
        </table><br><br>
        
        {% if user.id == page_user.id %}
          <a href="{% url 'edit_profile' object.pk %}" class="btn btn-custom" role="button">Edit profile</a>
        {% endif %}
        
      </div>
    </div>
    {% if artwork.count > 0 or album.count > 0 %}
      {% if album.count > 0 %}
      <div id="albumdesktop">
        <h2>Albums</h2>
        <br>
        <div class="multiple-card-slider">
        <div id="Artvengerscarousel" class="carousel" data-bs-ride="carousel">
          <div class="carousel-inner">
            {% for albumObject in album %}
            {% if page_user.id == albumObject.artist_Name.id or not albumObject.artist_Name %}
              {% if forloop.first %}
            <div class="carousel-item active" style="height: 298px;">
              <div class="card" id="image4" style="position: relative; right: -40px; bottom: -30px;width: 80%;opacity: 0.2;">
                <img src="{{ albumObject.memberpic.all.3.Artwork|thumbnail_url:'Artwork' }}" style="object-fit: cover;height: 120%;width: 130%;{% if albumObject.memberpic.all.3.Sensitive_content %} filter: blur(6px);{% endif %}">
              </div>
              <div class="card" id="image3" style="position: relative; right: -25px;bottom: 260px;width: 80%;opacity: 0.3;">
                <img src="{{ albumObject.memberpic.all.2.Artwork|thumbnail_url:'Artwork' }}" style="object-fit: cover;height: 120%;width: 130%;{% if albumObject.memberpic.all.2.Sensitive_content %} filter: blur(6px);{% endif %}">
              </div>
              <div class="card" id="image2" style="position: relative; right: -10px;bottom: 550px;width: 80%;opacity: 0.5;">
                <img src="{{ albumObject.memberpic.all.1.Artwork|thumbnail_url:'Artwork' }}" style="object-fit: cover;height: 120%;width: 130%;{% if albumObject.memberpic.all.1.Sensitive_content %} filter: blur(6px);{% endif %}">
              </div>
              <div class="card" id="image" style="position: relative; right: 10px;bottom: 840px;width: 80%;">
                <img src="{{ albumObject.memberpic.all.0.Artwork|thumbnail_url:'Artwork' }}" style="object-fit: cover;height: 120%;width: 130%;{% if albumObject.memberpic.all.0.Sensitive_content %} filter: blur(6px);{% endif %}">
              </div>
              <a href="{% url 'album' albumObject.pk %}">
                <div class="card" style="position: relative; right: 30px;bottom: 1050px; background-color: transparent;width: 335px;">
                  <div class="carousel-caption-album">
                    <h5>{{ albumObject.Album_Title }}</h5>
                  </div>
                </div>
              </a>
            </div>
              {% else %}
            <div class="carousel-item-album" style="height: 298px;">
              <div class="card" id="image4" style="position: relative; right: -40px; bottom: -30px;width: 80%;opacity: 0.2;">
                <img src="{{ albumObject.memberpic.all.3.Artwork|thumbnail_url:'Artwork' }}" style="object-fit: cover;height: 120%;width: 130%;{% if albumObject.memberpic.all.3.Sensitive_content %} filter: blur(6px);{% endif %}">
              </div>
              <div class="card" id="image3" style="position: relative; right: -25px;bottom: 260px;width: 80%;opacity: 0.3;">
                <img src="{{ albumObject.memberpic.all.2.Artwork|thumbnail_url:'Artwork' }}" style="object-fit: cover;height: 120%;width: 130%;{% if albumObject.memberpic.all.2.Sensitive_content %} filter: blur(6px);{% endif %}">
              </div>
              <div class="card" id="image2" style="position: relative; right: -10px;bottom: 550px;width: 80%;opacity: 0.5;">
                <img src="{{ albumObject.memberpic.all.1.Artwork|thumbnail_url:'Artwork' }}" style="object-fit: cover;height: 120%;width: 130%;{% if albumObject.memberpic.all.1.Sensitive_content %} filter: blur(6px);{% endif %}">
              </div>
              <div class="card" id="image" style="position: relative; right: 10px;bottom: 840px;width: 80%;">
                <img src="{{ albumObject.memberpic.all.0.Artwork|thumbnail_url:'Artwork' }}" style="object-fit: cover;height: 120%;width: 130%;{% if albumObject.memberpic.all.0.Sensitive_content %} filter: blur(6px);{% endif %}">
              </div>
              <a href="{% url 'album' albumObject.pk %}">
                <div class="card" style="position: relative; right: 30px;bottom: 1050px; background-color: transparent;width: 335px;">
                  <div class="carousel-caption-album">
                    <h5>{{ albumObject.Album_Title }}</h5>
                  </div>
                </div>
              </a>
            </div>
            {% endif %}
            {% endif %}
          {% endfor %}
          </div>
          
          <button class="carousel-control-prev" type="button" data-bs-target="#Artvengerscarousel" data-bs-slide="prev" style="padding-right: 1em;">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#Artvengerscarousel" data-bs-slide="next" style="padding-right: 1em;">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <br><br><br><br> 
        
        </div>
      {% endif %}

      {% if artwork.count > 0 %}
        <div id="artdesktop">
          <h2>Artworks</h2><br>
          <div class="multiple-card-slider">
            <div id="Artvengerscarousel2" class="carousel" data-bs-ride="carousel">
              <div class="carousel-inner">
                {% for artdetail in artwork %}
                {% if page_user.id == artdetail.artist_Name.id %}
                {% if forloop.first %}
                <div class="carousel-item active">
                  {% if artdetail.Sensitive_content %}
                      <div class="card">
                        <img class="cardimg blur-background" src="{{ artdetail.Artwork|thumbnail_url:'Artwork' }}">
                        <a href="{% url 'artwork_detail' artdetail.pk %}">
                          <span class="badge rounded-pill bg-danger topleft">NSFW</span>
                          <div class="carousel-caption" style="max-width: 120%;width: 101%;bottom: -1px;left: -18px;">
                            <h5 class="caption-header">{{ artdetail.Title }}</h5>
                          </div>
                        </a>
                      </div>
                      {% else %}
                      <div class="card">
                        <img class="cardimg" src="{{ artdetail.Artwork|thumbnail_url:'Artwork' }}">
                        <a href="{% url 'artwork_detail' artdetail.pk %}">
                          <div class="carousel-caption" style="max-width: 120%;width: 101%;bottom: -1px;left: -18px;">
                            <h5 class="caption-header">{{ artdetail.Title }}</h5>
                          </div>
                        </a>
                      </div>
                      {% endif %}
                </div>
                {% else %}
                <div class="carousel-item">
                  {% if artdetail.Sensitive_content %}
                      <div class="card">
                        <img class="cardimg blur-background" src="{{ artdetail.Artwork|thumbnail_url:'Artwork' }}">
                        <a href="{% url 'artwork_detail' artdetail.pk %}">
                          <span class="badge rounded-pill bg-danger topleft">NSFW</span>
                          <div class="carousel-caption" style="max-width: 120%;width: 101%;bottom: -1px;left: -18px;">
                            <h5 class="caption-header">{{ artdetail.Title }}</h5>
                          </div>
                        </a>
                      </div>
                      {% else %}
                      <div class="card">
                        <img class="cardimg" src="{{ artdetail.Artwork|thumbnail_url:'Artwork' }}">
                        <a href="{% url 'artwork_detail' artdetail.pk %}">
                          <div class="carousel-caption" style="max-width: 120%;width: 101%;bottom: -1px;left: -18px;">
                            <h5 class="caption-header">{{ artdetail.Title }}</h5>
                          </div>
                        </a>
                      </div>
                      {% endif %}
                </div>
                {% endif %}
                {% endif %}
                {% endfor %}
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#Artvengerscarousel2" data-bs-slide="prev" style="padding-right: 1em;">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#Artvengerscarousel2" data-bs-slide="next" style="padding-right: 1em;">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
        {% endif %}
      {% else %}
        <div>
          No Album/Artwork Avaliable
        </div>
    {% endif %}
</div>
<div style="margin-left: -0.5em;" id="mobcontent">
  <br>
  {% csrf_token %}
  <div class="row align-items-start">
    <div class="col-sm" style="text-align: center;">
      {% if page_user.profile_picture %}
      <img src="../../media/{{ page_user.profile_picture }}" width="30%" style="border-radius: 50%;width: 180px;height: 180px;flex-shrink: 0;object-fit: cover;background-color: white;">
      {% else %}
      <img src="../../media/images/static_profile.png" width="30%" style="border-radius: 50%;width: 180px;height: 180px;flex-shrink: 0;object-fit: cover;background-color: white;">
      {% endif %}
      <br><br>
    </div>
    <div class="col-sm">
      {% csrf_token %}
      <table>
        <tr style="height: 30px;">
          <td style="float: right;">Username</td><td>:</td><td>&emsp;{{ page_user.user }}</td>
        </tr>
        <tr style="height: 30px;">
          <td style="float: right;">Email</td><td>:</td><td>&emsp;{{ page_user.email }}</td>
        </tr>
        <tr style="height: 30px;">
          <td style="float: right;">Bio</td><td>:</td><td>&emsp;{{ page_user.bio }}</td>
        </tr>
      </table>
      <br>
        
      <strong>Social Links</strong><br><br>
      <table>
        <tr style="height: 30px;">
          <td style="float: right;">Instagram</td><td>:</td><td>{{ page_user.Instagram }}</td>
        </tr>
        <tr style="height: 30px;">
          <td style="float: right;">Twitter</td><td>:</td><td>{{ page_user.Twitter }}</td>
        </tr>
        <tr style="height: 30px;">
          <td style="float: right;">Facebook</td><td>:</td><td>{{ page_user.Facebook }}</td>
        </tr>
      </table><br><br>
      <center>
        {% if user.id == page_user.id %}
          <a href="{% url 'edit_profile' object.pk %}" class="btn btn-custom" role="button">Edit profile</a>
        {% endif %}
      </center>
    </div>
  </div><br><br><br><br>
  <div id="selectdiv">
    <select class="form-select" id="selectContent">
      <option value="albummob" selected>Albums</option>
      <option value="artmob">Artworks</option>
    </select>
  </div>
  <br>
  <div id="albummob" class="content">
    {% for albumObject in album %}
    {% if page_user.id == albumObject.artist_Name.id or not albumObject.artist_Name %}
    {% if forloop.first %}
    <div class="carousel-item-album" style="height: 298px;">
      <div class="card" id="image4" style="width: 306px;height: 280px;position: relative; right: -40px; bottom: -30px;width: 80%;opacity: 0.2;background-image: url('{{ albumObject.memberpic.all.3.Artwork|thumbnail_url:"Artwork" }}');">
      </div>
      <div class="card" id="image3" style="width: 306px;height: 280px;position: relative; right: -25px;bottom: 260px;width: 80%;opacity: 0.3;background-image: url('{{ albumObject.memberpic.all.2.Artwork|thumbnail_url:"Artwork" }}');">
      </div>
      <div class="card" id="image2" style="width: 306px;height: 280px;position: relative; right: -10px;bottom: 550px;width: 80%;opacity: 0.5;background-image: url('{{ albumObject.memberpic.all.1.Artwork|thumbnail_url:"Artwork" }}');">
      </div>
      <div class="card" id="image" style="width: 306px;height: 280px;position: relative; right: 10px;bottom: 840px;width: 80%;background-image: url('{{ albumObject.memberpic.all.0.Artwork|thumbnail_url:"Artwork" }}');{% if albumObject.memberpic.all.0.Sensitive_content %} filter: blur(6px);{% endif %}">
      </div>
      
      <a href="{% url 'album' albumObject.pk %}">
        <div class="card" style="position: relative; right: 43px;bottom: 782px; background-color: transparent;width: 335px;">
          <div class="carousel-caption-album">
            <h5 class="caption-header">{{ albumObject.Album_Title }}</h5>
          </div>
        </div>
      </a>
    </div><br><br><br><br>
    {% else %}
    <div class="carousel-item-album" style="height: 298px;">
      <div class="card" id="image4" style="width: 306px;height: 280px;position: relative; right: -40px; bottom: -30px;width: 80%;opacity: 0.2;background-image: url('{{ albumObject.memberpic.all.3.Artwork|thumbnail_url:"Artwork" }}');">
      </div>
      <div class="card" id="image3" style="width: 306px;height: 280px;position: relative; right: -25px;bottom: 260px;width: 80%;opacity: 0.3;background-image: url('{{ albumObject.memberpic.all.2.Artwork|thumbnail_url:"Artwork" }}');">
      </div>
      <div class="card" id="image2" style="width: 306px;height: 280px;position: relative; right: -10px;bottom: 550px;width: 80%;opacity: 0.5;background-image: url('{{ albumObject.memberpic.all.1.Artwork|thumbnail_url:"Artwork" }}');">
      </div>
      <div class="card" id="image" style="width: 306px;height: 280px;position: relative; right: 10px;bottom: 840px;width: 80%;background-image: url('{{ albumObject.memberpic.all.0.Artwork|thumbnail_url:"Artwork" }}');{% if albumObject.memberpic.all.0.Sensitive_content %} filter: blur(6px);{% endif %}">
      </div>
      
      <a href="{% url 'album' albumObject.pk %}">
        <div class="card" style="position: relative; right: 43px;bottom: 782px; background-color: transparent;width: 335px;">
          <div class="carousel-caption-album">
            <h5 class="caption-header">{{ albumObject.Album_Title }}</h5>
          </div>
        </div>
      </a>
    </div><br><br><br><br>
    {% endif %}
    {% endif %}
    {% endfor %}
  </div>
<center>
  <div id="artmob" class="content" style="padding-left: 10px;padding-right: 10px;margin: 20px;margin-left: -1em;">
    {% for artdetail in artwork %}
    {% if page_user.id == artdetail.artist_Name.id %}
    {% if forloop.last %}
    <div>
      {% if artdetail.Sensitive_content %}
        <div class="card" style="width: 306px;height: 280px;flex-shrink: 0;">
          <img class="cardimgmob blur-background" src="{{ artdetail.Artwork|thumbnail_url:'Artwork' }}">
          <a href="{% url 'artwork_detail' artdetail.pk %}">
            <span class="badge rounded-pill bg-danger topleft">NSFW</span>
             <div class="carousel-caption" style="max-width: 120%;width: 101%;bottom: -1px;left: -18px;">
              <h5 class="caption-header">{{ artdetail.Title }}</h5>
            </div>
          </a>
        </div>
      {% else %}
            <div class="card" style="width: 306px;height: 280px;flex-shrink: 0;">
              <img class="cardimgmob" src="{{ artdetail.Artwork|thumbnail_url:'Artwork' }}">
              <a href="{% url 'artwork_detail' artdetail.pk %}">
                <div class="carousel-caption" style="max-width: 120%;width: 101%;bottom: -1px;left: -18px;">
              <h5 class="caption-header">{{ artdetail.Title }}</h5>
            </div>
          </a>
        </div>
      {% endif %}
    </div>
    <br>
    {% else %}
    <div>
      {% if artdetail.Sensitive_content %}
        <div class="card" style="width: 306px;height: 280px;flex-shrink: 0;">
          <img class="cardimgmob blur-background" src="{{ artdetail.Artwork|thumbnail_url:'Artwork' }}">
          <a href="{% url 'artwork_detail' artdetail.pk %}">
            <span class="badge rounded-pill bg-danger topleft">NSFW</span>
             <div class="carousel-caption" style="max-width: 120%;width: 101%;bottom: -1px;left: -18px;">
              <h5 class="caption-header">{{ artdetail.Title }}</h5>
            </div>
          </a>
        </div>
      {% else %}
            <div class="card" style="width: 306px;height: 280px;flex-shrink: 0;">
              <img class="cardimgmob" src="{{ artdetail.Artwork|thumbnail_url:'Artwork' }}">
              <a href="{% url 'artwork_detail' artdetail.pk %}">
                <div class="carousel-caption" style="max-width: 120%;width: 101%;bottom: -1px;left: -18px;">
              <h5 class="caption-header">{{ artdetail.Title }}</h5>
            </div>
          </a>
        </div>
      {% endif %}
    </div>
    <br>
    {% endif %}
    {% endif %}
    {% endfor %}
  </div>  
</center>

</div>
<br>
<br><br>
<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
<script>
$('.multiple-card-slider .carousel').each(function(){
    var currentCarouselId = '#' + $(this).attr('id');
    const multipleItemCarousel = document.querySelector(currentCarouselId);

    if(window.matchMedia("(min-width:390px)").matches){
        const carousel = new bootstrap.Carousel(multipleItemCarousel, {
            interval: false,
            wrap: false
        })
        var carouselWidth = $(currentCarouselId + ' .carousel-inner')[0].scrollWidth;
        var cardWidth = $(currentCarouselId + ' .carousel-item').width();
        var scrollPosition = 0;    
        $(currentCarouselId + ' .carousel-control-next').on('click', function(){
            if(scrollPosition < (carouselWidth - (cardWidth * 4))){
                console.log('next');
                scrollPosition = scrollPosition + cardWidth;
                $(currentCarouselId + ' .carousel-inner').animate({scrollLeft: scrollPosition},600);
            }
        });
        $(currentCarouselId + ' .carousel-control-prev').on('click', function(){
            if(scrollPosition > 0){
                console.log('prev');
                scrollPosition = scrollPosition - cardWidth;
                $(currentCarouselId + ' .carousel-inner').animate({scrollLeft: scrollPosition},600);
            }
        });
    }else{
        $(multipleItemCarousel).addClass('slide');
    }
});
</script>
<script>
  // Select in mobile
  $(function() {
    $('.content').hide();
    $('#selectContent').val('albummob'); // Set the default option to "albummob"
    $('#' + $('#selectContent').val()).show(); // Show the selected content

    $('#selectContent').change(function() {
      var selectedValue = $(this).val();
      if (selectedValue === 'albummob') {
        $('#artmob').hide();
        $('#albummob').show();
      } else if (selectedValue === 'artmob') {
        $('#albummob').hide();
        $('#artmob').show();
      }
    });
  });

  window.addEventListener("DOMContentLoaded", function() {
    var album = document.getElementById("albummob");
    var cards = album.getElementsByClassName("cardimgmob");

    for (var i = 0; i < Math.min(cards.length, 4); i++) {
      cards[i].style.display = "block";
    }
  });
</script>


<script>
  window.addEventListener("DOMContentLoaded", function() {
  var album = document.getElementById("albummob");
  var cards = album.getElementsByClassName("card");

  for (var i = 0; i < Math.min(cards.length, 4); i++) {
    cards[i].style.display = "block";
  }
});

</script>


{% endblock %}
