<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./album-view.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Chakra Petch:ital,wght@0,400;1,400;1,500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="album-view">
      <div class="frame-parent9">
        <a class="img-9200-1-parent" href="./artwork-view.html" id="frameLink">
          <img
            class="img-9200-1-icon"
            alt=""
            src="./public/img-9200-1@2x.png"
          />

          <div class="artwork-title-wrapper17">
            <i class="artwork-title21">Artwork Title</i>
          </div>
        </a>
        <a class="img-9202-1-parent" href="./artwork-view.html" id="frameLink1">
          <img
            class="img-9200-1-icon"
            alt=""
            src="./public/img-9202-1@2x.png"
          />

          <div class="artwork-title-wrapper17">
            <i class="artwork-title21">Artwork Title</i>
          </div>
        </a>
        <a class="img-9206-1-parent" href="./artwork-view.html" id="frameLink2">
          <img
            class="img-9206-1-icon"
            alt=""
            src="./public/img-9206-1@2x.png"
          />

          <div class="artwork-title-wrapper17">
            <i class="artwork-title21">Artwork Title</i>
          </div>
        </a>
        <a class="img-9207-1-parent" href="./artwork-view.html" id="frameLink3">
          <img
            class="img-9207-1-icon"
            alt=""
            src="./public/img-9207-1@2x.png"
          />

          <div class="artwork-title-wrapper17">
            <i class="artwork-title21">Artwork Title</i>
          </div>
        </a>
        <div class="frame-child41"></div>
        <div class="frame-child42"></div>
        <div class="frame-child43"></div>
        <div class="frame-child44"></div>
        <a class="img-9204-1-parent" href="./artwork-view.html" id="frameLink4">
          <img
            class="img-9204-1-icon"
            alt=""
            src="./public/img-9204-1@2x.png"
          />

          <div class="artwork-title-wrapper17">
            <i class="artwork-title21">Artwork Title</i>
          </div>
        </a>
        <a class="img-9203-1-parent" href="./artwork-view.html" id="frameLink5">
          <img
            class="img-9203-1-icon"
            alt=""
            src="./public/img-9203-1@2x.png"
          />

          <div class="artwork-title-wrapper17">
            <i class="artwork-title21">Artwork Title</i>
          </div>
        </a>
        <a class="img-9205-1-parent" href="./artwork-view.html" id="frameLink6">
          <img
            class="img-9205-1-icon"
            alt=""
            src="./public/img-9205-1@2x.png"
          />

          <div class="artwork-title-wrapper17">
            <i class="artwork-title21">Artwork Title</i>
          </div>
        </a>
        <a class="img-9209-1-parent" href="./artwork-view.html" id="frameLink7">
          <img
            class="img-9207-1-icon"
            alt=""
            src="./public/img-9209-1@2x.png"
          />

          <div class="artwork-title-wrapper17">
            <i class="artwork-title21">Artwork Title</i>
          </div>
        </a>
        <div class="album-title">Album Title</div>
      </div>
      <nav class="frame-parent10">
        <input
          class="frame-child45"
          type="text"
          placeholder="Search"
          id="frameInput"
        />

        <a class="image-28" href="./search-result.html"> </a>
        <a class="image-1-wrapper6" href="./user-profile.html" id="frameLink8">
          <img class="image-1-icon9" alt="" src="./public/image-11@2x.png" />
        </a>
        <a
          class="untitled209-20230605132102-18"
          href="./explore.html"
          id="untitled209202306051321021"
        >
        </a>
      </nav>
    </div>

    <script>
      var frameLink = document.getElementById("frameLink");
      if (frameLink) {
        frameLink.addEventListener("click", function (e) {
          window.location.href = "./artwork-view.html";
        });
      }
      
      var frameLink1 = document.getElementById("frameLink1");
      if (frameLink1) {
        frameLink1.addEventListener("click", function (e) {
          window.location.href = "./artwork-view.html";
        });
      }
      
      var frameLink2 = document.getElementById("frameLink2");
      if (frameLink2) {
        frameLink2.addEventListener("click", function (e) {
          window.location.href = "./artwork-view.html";
        });
      }
      
      var frameLink3 = document.getElementById("frameLink3");
      if (frameLink3) {
        frameLink3.addEventListener("click", function (e) {
          window.location.href = "./artwork-view.html";
        });
      }
      
      var frameLink4 = document.getElementById("frameLink4");
      if (frameLink4) {
        frameLink4.addEventListener("click", function (e) {
          window.location.href = "./artwork-view.html";
        });
      }
      
      var frameLink5 = document.getElementById("frameLink5");
      if (frameLink5) {
        frameLink5.addEventListener("click", function (e) {
          window.location.href = "./artwork-view.html";
        });
      }
      
      var frameLink6 = document.getElementById("frameLink6");
      if (frameLink6) {
        frameLink6.addEventListener("click", function (e) {
          window.location.href = "./artwork-view.html";
        });
      }
      
      var frameLink7 = document.getElementById("frameLink7");
      if (frameLink7) {
        frameLink7.addEventListener("click", function (e) {
          window.location.href = "./artwork-view.html";
        });
      }
      
      var frameInput = document.getElementById("frameInput");
      if (frameInput) {
        frameInput.addEventListener("click", function (e) {
          window.location.href = "./search-result.html";
        });
      }
      
      var frameLink8 = document.getElementById("frameLink8");
      if (frameLink8) {
        frameLink8.addEventListener("click", function (e) {
          window.location.href = "./user-profile.html";
        });
      }
      
      var untitled209202306051321021 = document.getElementById(
        "untitled209202306051321021"
      );
      if (untitled209202306051321021) {
        untitled209202306051321021.addEventListener("click", function (e) {
          window.location.href = "./explore.html";
        });
      }
      </script>
  </body>
</html>
