<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./change-password.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Chakra Petch:ital,wght@0,400;1,400;1,500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="change-password">
      <a
        class="change-password-wrapper"
        href="./user-profile.html"
        id="frameLink"
      >
        <div class="change-password1">Change password</div>
      </a>
      <form class="new-password-parent">
        <div class="new-password">New Password:</div>
        <input class="frame-child46" type="text" />

        <div class="confirm-new-password">Confirm New Password:</div>
        <input class="frame-child47" type="text" />
      </form>
      <nav class="frame-parent11">
        <input
          class="frame-child48"
          type="text"
          placeholder="Search"
          id="frameInput2"
        />

        <a class="image-29" href="./search-result.html"> </a>
        <a class="image-1-wrapper7" href="./user-profile.html" id="frameLink1">
          <img class="image-1-icon10" alt="" src="./public/image-11@2x.png" />
        </a>
        <a
          class="untitled209-20230605132102-19"
          href="./explore.html"
          id="untitled209202306051321021"
        >
        </a>
      </nav>
    </div>

    <script>
      var frameLink = document.getElementById("frameLink");
      if (frameLink) {
        frameLink.addEventListener("click", function (e) {
          window.location.href = "./user-profile.html";
        });
      }
      
      var frameInput2 = document.getElementById("frameInput2");
      if (frameInput2) {
        frameInput2.addEventListener("click", function (e) {
          window.location.href = "./search-result.html";
        });
      }
      
      var frameLink1 = document.getElementById("frameLink1");
      if (frameLink1) {
        frameLink1.addEventListener("click", function (e) {
          window.location.href = "./user-profile.html";
        });
      }
      
      var untitled209202306051321021 = document.getElementById(
        "untitled209202306051321021"
      );
      if (untitled209202306051321021) {
        untitled209202306051321021.addEventListener("click", function (e) {
          window.location.href = "./explore.html";
        });
      }
      </script>
  </body>
</html>
