<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./users-dashboard.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Chakra Petch:ital,wght@0,400;1,400;1,500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="users-dashboard">
      <nav class="rectangle-parent4">
        <div class="frame-child49"></div>
        <a class="explore" href="./explore.html">Explore</a>
        <div class="my-artworks">My artworks</div>
      </nav>
      <nav class="frame-parent12">
        <input
          class="frame-child50"
          type="text"
          placeholder="Search"
          id="frameInput"
        />

        <a class="image-210" href="./search-result.html"> </a>
        <a class="image-1-wrapper8" href="./user-profile.html" id="frameLink">
          <img class="image-1-icon11" alt="" src="./public/image-11@2x.png" />
        </a>
        <a
          class="untitled209-20230605132102-110"
          href="./explore.html"
          id="untitled209202306051321021"
        >
        </a>
      </nav>
      <div class="frame-parent13">
        <a class="post-new-artwork-wrapper" href="./upload-artwork.html">
          <div class="post-new-artwork">Post new artwork</div>
        </a>
        <div class="my-artworks1">My artworks</div>
        <div class="frame-parent14">
          <a class="d0079-1-parent" href="./artwork-view.html">
            <img class="d0079-1-icon" alt="" src="./public/d0079-1@2x.png" />

            <div class="album-title-wrapper">
              <i class="artwork-title29">Artwork Title</i>
            </div>
            <div class="delete-wrapper">
              <div class="delete">Delete</div>
            </div>
            <a class="edit-wrapper" href="./edit-artwork.html" id="frameLink3">
              <div class="edit">Edit</div>
            </a>
          </a>
          <a class="d0012-1-parent" href="./artwork-view.html">
            <img class="d0012-1-icon" alt="" src="./public/d0012-1@2x.png" />

            <div class="album-title-wrapper">
              <i class="artwork-title29">Artwork Title</i>
            </div>
            <div class="delete-wrapper">
              <div class="delete">Delete</div>
            </div>
            <a class="edit-wrapper" href="./edit-artwork.html" id="frameLink5">
              <div class="edit">Edit</div>
            </a>
          </a>
          <a class="d0009-1-parent" href="./artwork-view.html">
            <img class="d0009-1-icon" alt="" src="./public/d0009-1@2x.png" />

            <div class="album-title-wrapper">
              <i class="artwork-title29">Artwork Title</i>
            </div>
            <div class="delete-wrapper">
              <div class="delete">Delete</div>
            </div>
            <a class="edit-wrapper" href="./edit-artwork.html" id="frameLink7">
              <div class="edit">Edit</div>
            </a>
          </a>
          <a class="d0006-1-parent" href="./artwork-view.html">
            <img class="d0006-1-icon" alt="" src="./public/d0006-1@2x.png" />

            <div class="album-title-wrapper">
              <i class="artwork-title29">Artwork Title</i>
            </div>
            <div class="delete-wrapper">
              <div class="delete">Delete</div>
            </div>
            <a class="edit-wrapper" href="./edit-artwork.html" id="frameLink9">
              <div class="edit">Edit</div>
            </a>
          </a>
          <div class="frame">
            <i class="i3">&gt;</i>
          </div>
          <div class="wrapper1">
            <i class="i3">&lt;</i>
          </div>
        </div>
      </div>
      <div class="my-albums-parent">
        <div class="my-albums">My albums</div>
        <a
          class="create-new-album-wrapper"
          href="./create-album.html"
          id="frameLink10"
        >
          <div class="post-new-artwork">Create new album</div>
        </a>
        <div class="frame-parent15">
          <a class="frame-parent16" href="./album-view.html">
            <a
              class="d0065-2-wrapper"
              href="./album-view.html"
              id="frameLink12"
            >
              <img class="d0065-2-icon" alt="" src="./public/d0065-2@2x.png" />
            </a>
            <a
              class="d0067-1-wrapper"
              href="./album-view.html"
              id="frameLink13"
            >
              <img class="d0067-1-icon" alt="" src="./public/d0067-1@2x.png" />
            </a>
            <a
              class="d0068-1-wrapper"
              href="./album-view.html"
              id="frameLink14"
            >
              <img class="d0068-1-icon" alt="" src="./public/d0068-1@2x.png" />
            </a>
            <div class="album-title-wrapper">
              <i class="artwork-title29">Album Title</i>
            </div>
            <a class="delete-wrapper2">
              <div class="delete">Delete</div>
            </a>
            <a class="edit-wrapper" href="./update-album.html" id="frameLink16">
              <div class="edit">Edit</div>
            </a>
          </a>
          <a class="frame-parent17" href="./album-view.html">
            <a
              class="d0065-2-wrapper"
              href="./album-view.html"
              id="frameLink18"
            >
              <img class="d0072-1-icon" alt="" src="./public/d0072-1@2x.png" />
            </a>
            <a
              class="d0067-1-wrapper"
              href="./album-view.html"
              id="frameLink19"
            >
              <img class="d0072-1-icon" alt="" src="./public/d0072-1@2x.png" />
            </a>
            <a
              class="d0068-1-wrapper"
              href="./album-view.html"
              id="frameLink20"
            >
              <img class="d0072-1-icon" alt="" src="./public/d0072-1@2x.png" />
            </a>
            <div class="album-title-wrapper">
              <i class="artwork-title29">Album Title</i>
            </div>
            <a class="delete-wrapper2">
              <div class="delete">Delete</div>
            </a>
            <a class="edit-wrapper" href="./update-album.html" id="frameLink22">
              <div class="edit">Edit</div>
            </a>
          </a>
          <a class="frame-parent18" href="./album-view.html">
            <a
              class="d0065-2-wrapper"
              href="./album-view.html"
              id="frameLink24"
            >
              <img class="d0068-1-icon" alt="" src="./public/d0030-1@2x.png" />
            </a>
            <a
              class="d0067-1-wrapper"
              href="./album-view.html"
              id="frameLink25"
            >
              <img
                class="akane-sakakibara-1"
                alt=""
                src="./public/akane-sakakibara-1@2x.png"
              />
            </a>
            <a
              class="d0068-1-wrapper"
              href="./album-view.html"
              id="frameLink26"
            >
              <img class="d0068-1-icon" alt="" src="./public/d0030-1@2x.png" />
            </a>
            <div class="album-title-wrapper">
              <i class="artwork-title29">Album Title</i>
            </div>
            <a class="delete-wrapper2">
              <div class="delete">Delete</div>
            </a>
            <a class="edit-wrapper" href="./update-album.html" id="frameLink28">
              <div class="edit">Edit</div>
            </a>
          </a>
          <a class="frame-parent19" href="./album-view.html">
            <a
              class="d0065-2-wrapper"
              href="./album-view.html"
              id="frameLink30"
            >
              <img class="d0008-3-icon" alt="" src="./public/d0008-3@2x.png" />
            </a>
            <a
              class="d0067-1-wrapper"
              href="./album-view.html"
              id="frameLink31"
            >
              <img class="d0004-1-icon" alt="" src="./public/d0004-1@2x.png" />
            </a>
            <a
              class="d0068-1-wrapper"
              href="./album-view.html"
              id="frameLink32"
            >
              <img class="d0002-1-icon" alt="" src="./public/d0002-1@2x.png" />
            </a>
            <div class="album-title-wrapper">
              <i class="artwork-title29">Album Title</i>
            </div>
            <a class="delete-wrapper2">
              <div class="delete">Delete</div>
            </a>
            <a class="edit-wrapper" href="./update-album.html" id="frameLink34">
              <div class="edit">Edit</div>
            </a>
          </a>
          <div class="frame">
            <i class="i3">&gt;</i>
          </div>
          <div class="wrapper1">
            <i class="i3">&lt;</i>
          </div>
        </div>
      </div>
    </div>

    <script>
      var frameInput = document.getElementById("frameInput");
      if (frameInput) {
        frameInput.addEventListener("click", function (e) {
          window.location.href = "./search-result.html";
        });
      }
      
      var frameLink = document.getElementById("frameLink");
      if (frameLink) {
        frameLink.addEventListener("click", function (e) {
          window.location.href = "./user-profile.html";
        });
      }
      
      var untitled209202306051321021 = document.getElementById(
        "untitled209202306051321021"
      );
      if (untitled209202306051321021) {
        untitled209202306051321021.addEventListener("click", function (e) {
          window.location.href = "./explore.html";
        });
      }
      
      var frameLink3 = document.getElementById("frameLink3");
      if (frameLink3) {
        frameLink3.addEventListener("click", function (e) {
          window.location.href = "./edit-artwork.html";
        });
      }
      
      var frameLink5 = document.getElementById("frameLink5");
      if (frameLink5) {
        frameLink5.addEventListener("click", function (e) {
          window.location.href = "./edit-artwork.html";
        });
      }
      
      var frameLink7 = document.getElementById("frameLink7");
      if (frameLink7) {
        frameLink7.addEventListener("click", function (e) {
          window.location.href = "./edit-artwork.html";
        });
      }
      
      var frameLink9 = document.getElementById("frameLink9");
      if (frameLink9) {
        frameLink9.addEventListener("click", function (e) {
          window.location.href = "./edit-artwork.html";
        });
      }
      
      var frameLink10 = document.getElementById("frameLink10");
      if (frameLink10) {
        frameLink10.addEventListener("click", function (e) {
          window.location.href = "./create-album.html";
        });
      }
      
      var frameLink12 = document.getElementById("frameLink12");
      if (frameLink12) {
        frameLink12.addEventListener("click", function (e) {
          window.location.href = "./album-view.html";
        });
      }
      
      var frameLink13 = document.getElementById("frameLink13");
      if (frameLink13) {
        frameLink13.addEventListener("click", function (e) {
          window.location.href = "./album-view.html";
        });
      }
      
      var frameLink14 = document.getElementById("frameLink14");
      if (frameLink14) {
        frameLink14.addEventListener("click", function (e) {
          window.location.href = "./album-view.html";
        });
      }
      
      var frameLink16 = document.getElementById("frameLink16");
      if (frameLink16) {
        frameLink16.addEventListener("click", function (e) {
          window.location.href = "./update-album.html";
        });
      }
      
      var frameLink18 = document.getElementById("frameLink18");
      if (frameLink18) {
        frameLink18.addEventListener("click", function (e) {
          window.location.href = "./album-view.html";
        });
      }
      
      var frameLink19 = document.getElementById("frameLink19");
      if (frameLink19) {
        frameLink19.addEventListener("click", function (e) {
          window.location.href = "./album-view.html";
        });
      }
      
      var frameLink20 = document.getElementById("frameLink20");
      if (frameLink20) {
        frameLink20.addEventListener("click", function (e) {
          window.location.href = "./album-view.html";
        });
      }
      
      var frameLink22 = document.getElementById("frameLink22");
      if (frameLink22) {
        frameLink22.addEventListener("click", function (e) {
          window.location.href = "./update-album.html";
        });
      }
      
      var frameLink24 = document.getElementById("frameLink24");
      if (frameLink24) {
        frameLink24.addEventListener("click", function (e) {
          window.location.href = "./album-view.html";
        });
      }
      
      var frameLink25 = document.getElementById("frameLink25");
      if (frameLink25) {
        frameLink25.addEventListener("click", function (e) {
          window.location.href = "./album-view.html";
        });
      }
      
      var frameLink26 = document.getElementById("frameLink26");
      if (frameLink26) {
        frameLink26.addEventListener("click", function (e) {
          window.location.href = "./album-view.html";
        });
      }
      
      var frameLink28 = document.getElementById("frameLink28");
      if (frameLink28) {
        frameLink28.addEventListener("click", function (e) {
          window.location.href = "./update-album.html";
        });
      }
      
      var frameLink30 = document.getElementById("frameLink30");
      if (frameLink30) {
        frameLink30.addEventListener("click", function (e) {
          window.location.href = "./album-view.html";
        });
      }
      
      var frameLink31 = document.getElementById("frameLink31");
      if (frameLink31) {
        frameLink31.addEventListener("click", function (e) {
          window.location.href = "./album-view.html";
        });
      }
      
      var frameLink32 = document.getElementById("frameLink32");
      if (frameLink32) {
        frameLink32.addEventListener("click", function (e) {
          window.location.href = "./album-view.html";
        });
      }
      
      var frameLink34 = document.getElementById("frameLink34");
      if (frameLink34) {
        frameLink34.addEventListener("click", function (e) {
          window.location.href = "./update-album.html";
        });
      }
      </script>
  </body>
</html>
